<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <style>
      body {
	  font-family: sans;
	  text-align: center;
      }

      #content {
	  margin: auto;
	  text-align: center;
	  display: block;
	  max-width: 90%;
      }

      .metric {
	  display: inline-block;
	  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
	  margin: 16px;
      }

      .metric img {
	  max-width: 400px;
      }

      .tag {
	  font-family: monospace;
      }
    </style>
  </head>
  <body>
    <div id=content>
	<h1>{{ title }}</h1>
	<h4>Epoch: {{ epoch }}</h4>

	<h2>Metrics</h2>
	<div id="metrics">
	<meta http-equiv="refresh" content="5" >
	{% for tag in data.metrics_rendered.keys() %}
	<div class="metric">
	    <span class="tag">{{ tag }}</span>
	    <div>
	    <img src="{{ data.metrics_rendered[tag] }}"></img>
	    </div>
	</div>
	{% endfor %}
	</div>

	<h2>Images</h2>
	<ul id="images">
	{% for tag in data.images.keys() %}
	<li>
	<div id="img_{{ tag }}">
	    <span>Step: {{ data.images[tag][1] }}</span>
	    <img src="{{ data.images[tag][0] }}"></img>
	</div>
	</li>
	{% endfor %}
	</ul>

	<h2>Plots</h2>
	<ul id="plots">
	{% for tag in data.plots.keys() %}
	<li>
	<div id="img_{{ tag }}">
	    <span>Step: {{ data.plots[tag][1] }}</span>
	    <img src="{{ data.plots[tag][0] }}"></img>
	</div>
	</li>
	{% endfor %}
	</ul>

	<h2>Text</h2>
	<ul id="text">
	{% for tag in data.text.keys() %}
	<li>
	    <ul class="log" id="log_{{ tag }}">
	    {% for log in data.text[tag] %}
	    <li class="log_item">log</li>
	    {% endfor %}
	    </ul>
	</li>
	{% endfor %}
	</ul>
    </div>
  </body>
</html>
